/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .main .container{
        font-size: 20px;
    }
    .main .container a{
        font-size: 12px;
    }
    .who .dis{
        grid-column: 1;
    }
    .who ,.location,.contact{
        padding: 20px;
        row-gap: 20px;
        align-items: center;
    }
    .location .right{
        grid-column: 1/2;
    }
    .baking .bake{
        grid-column: 1/2;
    }
    .footer p{
        font-size: 12px;
    }
    .footer h2{
        font-size: 16px;
    }
    .contact .right{
        grid-column: 1; 
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .main .container{
        font-size: 22px;
    }
    .main .container a{
        font-size: 14px;
    }
    
    .who .dis{
        grid-column: 1;
    }
    .who ,.location,.contact{
        padding: 20px;
        row-gap: 20px;
        align-items: center;
    }
    .location .right{
        grid-column: 1/2;
    }
    .baking .bake{
        grid-column: 1;
        margin-left: 3%;
    }
    .footer p{
        font-size: 10px;
    }
    .footer h2{
        font-size: 16px;
    }
    .contact .right{
        grid-column: 1; 
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .main .container{
        font-size: 24px;
    }
    .main .container a{
        font-size: 16px;
    }
    .footer p{
        font-size: 16px;
    }
    .footer h2{
        font-size: 18px;
    }
}