body{
    margin:0px; padding: 0px;  font-family: "Alegreya";
    box-sizing: border-box;
}
.settings{
    position: fixed;
    width: 30px;   height: 60px;
    top:30%;   right: 0px;
    background-color: white;
}
.settings i{
    margin:5px;
    color: #666;
    transition: color .5s;
}
.settings i:hover{
    color: #0275d8;
}
.navbar{
    width: 100%;   
    position: fixed;
    padding: 8px 60px;
}
.navbar img{
    width: 100px;
}
@media screen and (max-width:1000px) {
    .navbar img{
        width: 50px;
    }   
}
.navbar li{
    color: #595959b7;
    margin: 0px 10px;
    font-size: 18px;
    cursor: pointer;
}

.main{
    width: 100%;    height: 100vh;
    background-image: url('../images/drew-coffman-1872.jpg');
    background-size: 100% 100%;
    overflow: hidden;
}
.main .container{
    width: 60%;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 300px;
    font-size: 26px;
}
.main .container a{
    color: white;
    text-decoration: none;
    padding: 15px 28px;
    border: 2px solid white;   border-radius: 5px;
    font-size: 18px;
    transition: color .5s, background-color .5s ,border .5s;
}
.main .container .left{
    background-color: #8e7754;
    border: 2px solid #8e7754;
}
.main .container a:hover{
    color: #303030;
    background-color: white;
    border: 2px solid white;
}
.who{
    padding: 60px;
    overflow: hidden;
}
.who .image,.who .dis{
    float: left;
}
.who .dis{
    width: 45%;
    margin-top: 20px;
    padding-left: 60px;  
}
.who .dis p{
    line-height: 40px;
    color: #686868;
}
.who .image{
    width: 49%; 
}
.who .image img{
    width: 100%;
}
.who .dis .line i , .who .dis .line p{
    display: inline-block;
}
.who .dis .line i{
    margin-right: 10px;
    border: 1px solid rgba(128, 128, 128, 0.425);
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    color: #8e7754;
}
.location{
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 50px;
}
.location .left,.location .right{
    float: left;
    width: 50%;
}
.location .right img{
    width: 100%;
}
.location .left{
    width: 45%;
    padding-right: 50px;
    padding-top: 70px;
}
.location .left p{
    line-height: 30px;
    color: #686868;;
}
.baking{
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.baking .up{
    text-align: center;
    width: 100%;
}
.baking .up p{
    color: #888;
}
.baking .bake{
    width: 30%;
    float: left;
    margin-top: 40px;
    text-align: center;
    margin-right: 60px;
}
.baking .bake img{
    width: 100%;
}
.baking .bake h2{
    color: #303030;
}
.baking .bake p{
    color: #888;
}
.contact{
    background-color: #f8f8f8;
    padding: 50px;
    overflow: hidden;
}
.contact .left, .contact .right{
    width: 50%;
    float: left;
}
.contact .left .line i , .contact .left .line p{
    display: inline-block;
}
.contact .left .line i{
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    background-color: #8e7754;
    color: white;
}
.contact p{
    color: #888;
}
.footer{
    padding:50px;
    background-color: #353330;
    color:white;
    display: flex;
}
.footer p{
    color: #969696;
}
.one,.two,.three,.four{
    width: 20%;
    padding-right: 60px;
}
.footer .one p{
    line-height: 30px;
}
.footer .two i,.footer .three i ,.footer .four i{
    color: #969696;
    
}
.footer .line i ,.footer .line p{
    display: inline-block;
}
.footer .line{
    border-bottom: 1px solid#9696964d;;
}
.footer .four{
    background-image: url(../images/contact-details-map.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
}